@import '../../index.scss';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $text-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 15px $primary;
  z-index: 100;

  &__nav {
    display: flex;
    width: 50%;
    justify-content: center;

    &_link {
      text-decoration: none;
      color: $primary;
      font-size: 1.2rem;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        color: $accent;
      }

      &_active {
        text-decoration: none;
        color: $secondary-dark;
        border-bottom: 1px solid $secondary-dark;
        font-size: 1.2rem;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          color: $primary;
        }
      }
    }
  }
}
