$small: 320px;
$medium: 650px;
$large: 1200px;

$text-color: #f8f8f8;

$primary: #000;
$primary-light: rgb(58, 55, 72);

$secondary: #3A442A;
$secondary-light: #5B5643;
$secondary-dark: #2B3E3A;

$accent: #ba5a66;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-light;
  color: $text-color;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;

  &-thumb {
    background-color: $secondary;
    border-radius: 20px;
  }

  &-track {
    background-color: transparent;
    border-radius: 20px;
  }
}

.fave {
  cursor: pointer;
  font-size: 25px;
  margin-right: 15px;
  color: $text-color;

  &:hover {
    opacity: 0.8;
  }

  &_active {
    color: $accent;
    cursor: pointer;
    font-size: 25px;
    margin-right: 15px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.more {
  color: $text-color;
  text-decoration: none;
  font-size: 25px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    color: $secondary-dark;
  }
}
